.ui-selectmenu-men.ui-front{
	z-index:10001 !important;
}

.ui-selectmenu-menu.ui-front.ui-selectmenu-open{
	z-index:10002 !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable{
	z-index:1000 !important;
}

