#fontSelectorDiv
{
  position: relative;
  display: block;
  width: 25%;
  height: 80%;
  padding: 2%;
  background-color: #2F2F2C;
  margin: 0 auto;
  z-index: 99999999999999999999999999999999999999999999999999;
}

.explain
{
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 1%;
}

.info,
#fontSize,
#font-size-range,
#glyphs,
#file
{
  display: none;
}

#preview
{
  width: 80%;
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 3px;
  background-color: #2F2F2C;
  border: 1px solid #4B80FF;
}

#kerningCheckBox,
#drawMetricsCheckBox,
#drawPointsCheckbox
{
  margin-left: 1%;
}

#fontTxtInput
{
  margin-left: 1%;
  width: 80%;
  height: 10%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  background-color: #2F2F2C;
  border: 1px solid #4B80FF;
}

#fontSelectorLine
{
  margin-left: 1%;
  width: 80%;
}

#fontSelector
{
  display: block;
  margin: 1%;
}

#placeFontBtn
{
  background-position: 0px -15px;
  color: rgb(255, 255, 255);
  margin-right: 5%;
  cursor: pointer;
  height: 37px;
  position: relative;
  float: right;
  text-decoration: none solid rgb(255, 255, 255);
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  z-index: 2;
  perspective-origin: 46px 18.5px;
  transform-origin: 46px 18.5px;
  background: rgb(36, 227, 190) none repeat-x scroll 0px -15px / auto padding-box border-box;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal 15px/21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  padding: 8px 20px;
  transition: all 0.25s ease 0s;
}

#cancelFontBtn
{
  color: rgba(255, 255, 255, 0.74902);
  cursor: pointer;
  height: 37px;
  position: relative;
  float: right;
  text-decoration: none solid rgba(255, 255, 255, 0.74902);
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  z-index: 2;
  perspective-origin: 44.5px 18.5px;
  transform-origin: 44.5px 18.5px;
  background: rgb(237, 118, 105) none repeat-x scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgba(255, 255, 255, 0.74902);
  font: normal normal normal 15px/21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px -1px;
  outline: rgba(255, 255, 255, 0.74902) none 0px;
  padding: 8px 20px;
  transition: all 0.25s ease 0s;
  margin-right: 2%;
}